<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<!-- <span class="p-l-1">Adding an Alert</span> -->
			<span class="p-l-1">新增预警</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			<!-- Alerts are added and configured in the <strong>Alert Tab</strong> of any dashboard
			graph panel, letting you build and visualize an alert using existing queries.
			<br> <br>
			To persist your alert rule changes remember to save the dashboard.
			<br>
			<br>
		</p> -->
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
				在任何仪表板的<strong>预警选项卡</strong>中添加和配置警报。
图形面板，让您使用现有的查询构建和可视化预警。
				<br> <br>
				要应用预警规则的变化，请保存仪表盘。
				<br>
				<br>
			</p>
	</div>

</div>

